
.sobre-texto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;
}

.sobre-texto p {
	font-size: 1.1em;
	margin-bottom: 30px;
}
