
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="sobre-texto">
    <p>Sou estudante de Análise e Desenvolvimento de Sistemas. Este aplicativo foi desenvolvido para a Avaliação Formadora da disciplina de Desenvolvimento Mobile, com o objetivo de praticar Ionic e Angular.</p>
  <ion-button expand="block" (click)="irParaCartao()">Voltar ao Cartão</ion-button>
  </div>
</ion-content>
